
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{ 
    <link rel="stylesheet" asp-href-include="dist/styles*.css"/>
}
@section Scripts{
    <script type="text/javascript" asp-src-include="dist/*.js"></script>
}


<div>
    <app-root></app-root>
</div>

